$color-body: rgb(9, 11, 26);
$color-card: rgb(27, 25, 56);
$color-accent: rgb(170, 92, 219);
$color-white: rgb(255, 255, 255);
$color-paragraph: rgba(255, 255, 255, 0.75);
$color-stat-label: rgba(255, 255, 255, 0.6);

body {
  background-color: $color-body;
  color: $color-white;
  font-size: 0.9375rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  text-align: center;
  padding: 0 1.5rem 1.5rem;

  & a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    transition: all 0.2s ease;

    &:hover {
      color: $color-accent;
    }
  }
}
