// Card Layout
.card {
  background-color: $color-card;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 5.5rem 1.5rem 8.5rem;
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  max-width: 405px;

  @media only screen and (min-width: 950px) {
    max-width: 1110px;
    grid-auto-flow: column;
    grid-template-columns: 51.5% 1fr;
    text-align: left;
  }

  &__img {
    position: relative;
    background-color: $color-accent;

    @media only screen and (min-width: 950px) {
      order: 2;
      display: grid;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: multiply;
      opacity: 0.73;
    }
  }

  &__content {
    padding: 2.5rem 2rem 2.25rem;
    display: grid;
    grid-auto-flow: row;

    @media only screen and (min-width: 950px) {
      padding: 4.5rem 4.5rem 3.75rem;
    }
  }

  &__stats {
    margin-top: 2.25rem;
    display: grid;
    grid-gap: 1.5rem;
    width: 100%;
    max-width: 19.75rem;
    list-style: none;

    @media only screen and (min-width: 415px) {
      grid-auto-flow: column;
      justify-content: space-between;
      max-width: 21.875rem;
      align-content: end;
    }
  }
}

// Typography
.heading {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;

  @media only screen and (min-width: 950px) {
    font-size: 35px;
    margin-bottom: 0.75rem;
  }
}

.accent {
  position: relative;
  color: $color-accent;

  @media only screen and (min-width: 950px) {
    overflow: hidden;
    background: linear-gradient(
      to right,
      $color-accent,
      $color-accent 50%,
      white 50%,
      white
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: accentColorFill 0.9s cubic-bezier(0.56, 0.01, 0.36, 1) backwards;
    background-size: 200%;
    background-position: 0%;
    background-repeat: no-repeat;
  }
}

@keyframes accentColorFill {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.paragraph {
  color: $color-paragraph;
  line-height: 1.65;
  max-width: 23.5rem;
}

// Statistic Typography & Animations
.statistic {
  &__number {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__label {
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    color: $color-stat-label;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.65;
  }

  @media only screen and (min-width: 950px) {
    &:nth-child(1) {
      animation: fadeUp 1.1s cubic-bezier(0.11, 1, 0.67, 1.03) 0.9s backwards;
    }

    &:nth-child(2) {
      animation: fadeUp 1.1s cubic-bezier(0.11, 1, 0.67, 1.03) 1.3s backwards;
    }

    &:nth-child(3) {
      animation: fadeUp 1.1s cubic-bezier(0.11, 1, 0.67, 1.03) 1.7s backwards;
    }
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
